body{
    background-color: #FFFFC1;
    text-align: center;
    
}

















@media (max-width:1200px){
  .grid-container{
    grid-template-columns: auto auto auto;
    font-size: 13px;
  }
}

@media (min-width:481px) and (max-width:768px){
  .grid-container{
    grid-template-columns: auto auto;
    font-size: 13px;
    background-color: #9F2B68;
    border-image: 8px;

  }
}

@media (min-width:0px) and (max-width:480px){
  .grid-container{ 
    display: block;
    font-size: 10px;
    background-color: aliceblue;
    border-image: 5px;
  }
}